<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Movie Review Sentiment Predictor</title>
  
    </head>

    <body >

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading' style="color:white;"><span class='heading_first'>Sentiment and Rating Predictor for </span><span class="heading_second">Movie Reviews</span></h2>
            <div class='description'>
    			<p style="color:white;">A NLP based Web App, built with Flask, deployed using Heroku.</p>
    		</div>
    	</div>

        <!-- Prediction Area -->
        <div class="prediction-area">

            <!-- Prediction Form -->
            <div class='div2'>
                <form action="{{ url_for('predict') }}" method="POST">
                    <br><input class="form-input align-center" type="text" id="review" name="review" placeholder="Your review here"><br>
            
			<input type="submit" class="myButton" value="Get Predictions">
        	</form>
            </div>

            
        </div>

        <!-- Footer -->
       <div class="footer" >
  
           <p class='footer-description'><b>Made with ❤️ by Mrigank Vashist.</b></p>
       </div>

    </body>
</html>
